__pycache__
data
*.pt
*.pth
*.onnx
runs
imagenet100
imagenet5
*.txt
*.jpg
*jpeg
imagenet10
*.mp4
*.csv
*.log
lightning_logs
checkpoints_pruning
build
calculate_accuracy
video_infer
*.png
tb_logs/
build_dsp/
build_arm/
qnn_resnet18.cpp
qnn_resnet18.dlc
qnn_resnet18.h
qnn_resnet18.o
qnn_resnet18.so
qnn_resnet18.h
qnn_resnet18.h
CPP_RELATED/dsp_infer_accuracy/lib/
CPP_RELATED/dsp_infer_accuracy/qnn_inputs/
CPP_RELATED/dsp_infer_accuracy/resnet18_cifar10.bin
CPP_RELATED/dsp_infer_accuracy/resnet18_cifar10.cpp
